@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .image-details-container {
    height: 300px;
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    object-position: 0px -40px;
    @media only screen and (min-width: 420px) {
      height: 400px;
      object-position: center;
    }
    @media only screen and (min-width: 640px) {
      height: 510px;
      object-position: center;
    }
  }
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(15 118 110);
  transform-origin: top;
  z-index: 50;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(15 118 110);
  transform-origin: bottom;
  z-index: 50;
}
