@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: visible;
}

@layer base {
  .image-details-container {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 0px -40px;
    @media only screen and (min-width: 420px) {
      height: 400px;
      object-position: center;
    }
    @media only screen and (min-width: 640px) {
      height: 510px;
      object-position: center;
    }
  }
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(13, 18, 24);
  transform-origin: top;
  z-index: 50;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(13, 18, 24);
  transform-origin: bottom;
  z-index: 50;
}

.shadow-image {
  box-shadow: inset 0 0 6px rgba(28, 28, 28, 0.75);
}

.shadow-avatar {
  box-shadow: inset 0 0 6px rgba(34, 34, 34, 0.5);
}
